.Container {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  width: 120%;
  text-align: left;
  perspective: 1200px;
}

.Container:hover .weatherFrame {
  transform: rotateY(180deg);
}

.weatherFrame {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 2s;
  transform-style: preserve-3d;
}

.weatherContent,
.weatherEdit {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.weatherContent {
  background-color: black;
}

.weatherEdit {
  /* background-color: rgb(175, 175, 175); */
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.weatherEditContent {
  display: flex;
  flex-direction: column;
  height: 98.7%;
  width: 97.5%;
  border: 6px dotted black;
  justify-content: center;
  align-items: center;
}
.weatherEditContent > input {
  width: 55vw;
  height: 20vw;
  border: 1px solid black;
  font-size: 17vw;
}
.weatherEditInfo {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vw;
}

.weatherCon {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 1vh;
  flex-direction: column;
  justify-content: center;
}

.location,
.weather {
  top: 50px;
  cursor: pointer;
}

.locationContent {
  font-size: 24vw;
  line-height: 24vw;
}

.locationLongContent {
  font-size: 16vw;
  line-height: 15vw;
}

.locationTooLongContent {
  font-size: 11vw;
  line-height: 11vw;
}

.temp {
  font-size: 10vw;
}

.weather {
  font-size: 12vw;
}

.weatherCondition {
  font-size: 10vw;
  color: rgb(255, 255, 255);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 57vw;
  height: 22vw;
  background-color: white;
  color: black;
}

.modal button {
  background-color: transparent;
  margin-top: 3vw;
  border: 0;
  outline: 0;
}
.modal button img {
  width: 4vw;
}

.modal button img:hover {
  transform: scale(1.1);
}

@media (max-width: 1023px) {
  .Container {
    height: 50%;
    width: 100%;
  }
  .weather {
    font-size: 10vw;
  }
}
