.todoFrame {
  display: flex;
  justify-content: right;
  align-items: right;
  align-content: right;
}

.title {
  font-size: 1.7vw;
  overflow: hidden;
}

.doneButton,
.delButton {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.doneButton:hover,
.delButton:hover {
  transform: scale(1.1);
}

.doneButton > img {
  width: 1.5vw;
}

.delButton > img {
  width: 1.3vw;
}

@media (max-width: 1023px) {
  .title {
    font-size: 2.5vw;
  }
  .doneButton > img {
    width: 2vw;
  }
  .delButton > img {
    width: 1.8vw;
  }
}
